<!DOCTYPE html>
<html lang="en"

      xmlns="http://www.w3.org/1999/xhtml"

>
<head>
    <meta charset="UTF-8">
    <title>Questionaire</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
    <link href="css/layouts/question/index.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>
<body>

<div id="container">
    <form>
        <h1>Tell us!</h1>
        <hr>

    </form>
</div>

<!-- JS -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!--<script src="js/materialize.js"></script>-->
<script src="js/question/index.js"></script>

</body>
</html>