<!DOCTYPE html>
<html lang="en"

      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/layouts/registration/index.css" th:href="@{css/layouts/registration/index.css}">


</head>
<body>

<div id="progress"></div>

    <div class="center">
        <div id="register">

            <i id="progressButton" class="ion-android-arrow-forward next"></i>

            <div id="inputContainer">
                <input id="inputField" required autofocus />
                <label id="inputLabel"></label>
                <div id="inputProgress"></div>
            </div>

        </div>
    </div>

<script src="js/registration/index.js"></script>

</body>
</html>