<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--/*@thymesVar id="user" type="com.liveasy.demo.model.User"*/-->
<div class="container-fluid" style="margin-top: 20px">

    <input type="button" class="btn btn-info btn-block" value="Go Back to Main Page" onclick="location.href = '/';"
           style="margin: 0px 0px 40px 0px">


    <div class="row">
        <div class="col-md-6 col-md-offset-3">


            <form  th:object="${user}" th:action="@{'/user/'}" method="post">

                <!-- Error Statement -->
                <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger"><p>Please Correct Error Below</p></div>

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{houses}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit user Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9 form-group">
                                    <label>User Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>I am here to: </label>
                                    <!--/*@thymesVar id="purpose" type="com.liveasy.demo.model.Purpose"*/-->
                                    <select class="form-control" th:field="*{purpose}">
                                        <option th:each = "purpose : ${T(com.liveasy.demo.model.Purpose).values()}"
                                                th:value="${purpose.name()}"
                                                th:text="${purpose.name()}"
                                        >
                                        val
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('firstName')} ?
                                'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>First Name:</label>
                                    <input type="text" class="form-control" th:field="*{firstName}"/>

                                    <!--Help Block for: firstName
                                        > It shows the div help block only when fields has errors which belongs to firstName
                                        > then, in the list, it shows every single errors included in the array of errors that belongs to firstName-->
                                    <span class="help-block" th:if="${#fields.hasErrors('firstName')}" >
                                        <ul>
                                            <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
                                        </ul>
                                    </span>

                                </div>

                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('lastName')} ?
                                'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label>Last Name:</label>
                                    <input type="text" class="form-control" th:field="*{lastName}"/>

                                    <!--Help Block for: lastName-->
                                    <span class="help-block" th:if="${#fields.hasErrors('lastName')}" >
                                        <ul>
                                            <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"></li>
                                        </ul>
                                    </span>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-5 form-group">
                                    <label>Email :</label>
                                    <input type="text" class="form-control" th:field="*{email}"/>
                                </div>
                                <div class="col-md-5 form-group">
                                    <label>Active :</label>
                                    <input type="text" class="form-control" th:field="*{password}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h1 class="panel-title">Houses</h1>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-default" href="#" role="button">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <li th:each="house : ${user.houses}"
                                            th:text="${( 'At ' + house.getLocation().getAddress() +
                                        ', Bedroom Count of ' + house.getLayout().getBedrooms() +
                                        ' - ' + house.getLayout().getWashrooms())}">1 Teaspoon of Sugar
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>