<!doctype html>
<html lang="en"

      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/layouts/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>



<body>

<div class="grand-container">

    <div class="all-nav">
        <!-- Dropdown Structure -->
        <ul id="dropdown0" class="dropdown-content collection">
            <li><a th:href="@{/sell/new-listing}">Who are you? What is this?</a></li>
            <li class="divider"></li>
            <li><a th:href="@{/sell}">Contact Us</a></li>
        </ul>

        <ul id="dropdown1" class="dropdown-content collection">
            <li><a th:href="@{/map/}">Find a Home</a></li>
            <li class="divider"></li>
            <li><a th:href="@{/buy/tour}">Book a Tour</a></li>
            <li><a th:href="@{/buy/create-offer}">Create an Offer</a></li>
            <li><a th:href="@{/faq}" >Buyer FAQ</a></li>
        </ul>


        <ul id="dropdown2" class="dropdown-content collection">
            <li><a th:href="@{/sell/new-listing}">Listing your Home</a></li>
            <li class="divider"></li>
            <li><a th:href="@{/sell}">How does it all work?</a></li>
            <li><a th:href="@{/faq}" >Seller FAQ</a></li>
        </ul>

        <nav class="opaque-teal" role="navigation" id="test">
            <div class="nav-wrapper tight-container">
                <a id="logo-container" href="#" class="brand-logo"><img class="logo" src="images/logo.png"></a>
                <ul class="right hide-on-med-and-down">

                    <li><a class="dropdown-button-1" href="#" data-activates="dropdown1" data-beloworigin="true">
                        Buy<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button-2" href="#" data-activates="dropdown2" data-beloworigin="true">
                        Sell<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button-3" href="#" data-activates="dropdown3" data-beloworigin="true">
                        Rent<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button-0" href="#" data-activates="dropdown0" data-beloworigin="true">
                        About<i class="material-icons right">arrow_drop_down</i></a></li>

                    <li sec:authorize="isAnonymous()"><a href="#" th:href="@{/login}">Login In</a></li>
                    <li sec:authorize="isAnonymous()"> <a href="#" th:href="@{/register}">Register</a></li>

                    <li sec:authorize="isAuthenticated()">
                        <a class="dropdown-button-0" href="#" data-activates="dropdown9" data-beloworigin="true">
                        Welcome, Johnson</a>
                        <ul id="dropdown9" class="dropdown-content collection">
                            <li><a th:href="@{/home}">Dashboard</a></li>
                            <li><a th:href="@{/logout}" >Log Out</a></li>
                        </ul>
                    </li>

                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    <div id="center-container">
        <div class="tight-container" id="index-banner">
            <br><br>
            <span>
                <h1 class="center liveasy-blue grand col s12 m6 l3">Home For the People</h1>
            </span>
            <div class="row center">
                <h5 class="header col s12 light liveasy-grey">A modern Machine-Learning enhanced Housing Marketplace </h5>
            </div>
            <div class="row center">
                <a th:href="@{/map}" id="buy-button" class="btn-large waves-effect waves-heavy translucent-teal col s6 m3 l2 offset-l2">Map View</a>
                <a th:href="@{/list}" id="download-button" class="btn-large waves-effect waves-heavy translucent-teal col s6 m3 l2">Market Analysis</a>
                <a th:href="@{/question}" id="download-button" class="btn-large waves-effect waves-heavy translucent-teal col s6 m3 l2">Algorithmic</a>
                <a th:href="@{/map}" id="download-button" class="btn-large waves-effect waves-heavy translucent-teal col s6 m3 l2 active">Search Bar</a>

            </div>

            <form>
                <div class="input-field col s10 m8 l3">
                    <input id="autocomplete" type="text" class="search" placeholder="Enter your address"
                           onFocus="geolocate()">
                    <label for="autocomplete"></label>
                </div>
            </form>


            <br><br>

        </div>
    </div>
</div>

    <div class="" id="mid-section">

        <div class="container center">
            <div class="row">
                <div class="col s12 m12">
                    <h2 class="header">Horizontal Card</h2>
                    <div class="card horizontal">
                        <div class="card-image">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>I am a very simple card. I am good at containing small bits of information.</p>
                            </div>
                            <div class="card-action">
                                <a href="#">This is a link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container full-screen" id="low-section">
        <div class="section valign-wrapper">

            <div class="row">

                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="center">
                            <img class="card-image" src="https://image.flaticon.com/icons/png/512/306/306180.png">
                        </div>
                        <div class="card-content">
                            <h4 class="card-title center">Locate the Neighborhood</h4>
                            <p>&#32;</p>
                            <p class="center">We have always tried to surround ourselves with the best people.</p>
                            <p class="center">Now we should do it with Neighbours.</p>

                            <p class="center">Through historical analysis and looking into the future, we will try to find the best neighborhood for your
                                security, investment, and social needs.</p>
                        </div>
                        <div class="card-action center">
                            <a href="#">We can Solve this using Machine Learning</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="center">
                            <img class="card-image" src="https://image.flaticon.com/icons/png/512/306/306154.png">
                        </div>
                        <div class="card-content">
                            <h4 class="card-title center">Find the House You Need</h4>
                            <p>&#32;</p>
                            <p class="center">There has been an imbalance of information.</p>
                            <p class="center"> We might have all the
                                possibilities to search for houses, but we always have doubts about if the house will
                                really suit our needs, and become a good investment for the future.</p>
                        </div>
                        <div class="card-action center">
                            <a href="#">We can Solve this using Machine Learning</a>
                        </div>
                    </div>
                </div>


                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="center">
                            <img class="card-image" src="https://image.flaticon.com/icons/png/512/306/306156.png">
                        </div>
                        <div class="card-content">
                            <h4 class="card-title center">The Right People,</h4>
                            <h4 class="card-title center">and The Right Advice</h4>

                            <p>&#32;</p>
                            <p class="center">There has been an imbalance of information.</p>
                            <p class="center"> We might have all the
                                possibilities to search for houses, but we always have doubts about if the house will
                                really suit our needs, and become a good investment for the future.</p>
                        </div>
                        <div class="card-action center">
                            <a href="#">We can Solve this using Machine Learning</a>
                        </div>
                    </div>
                </div>

            </div>


            </div>
        <br><br>
        </div>
    </div>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">
                        Less like a Company and more like a Partnership, Liveasy was founded by Simon and Bari in 2017.
                    </p>
                    <p>
                        Simon came to Toronto at a young age and has spent more than 10 years in Canada. Simon had work experience in finance as well as IT. Bari is a
                        Professor of New York University, and a expert in Predictive Analysis.
                    </p>
                    <p>
                        Instead of making Wallstreet richer, we have decided to make Torontonians happier.
                    </p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Property of <a class="teal-text text-lighten-3" href="http://materializecss.com"> Liveasy Inc </a>
            </div>
        </div>
    </footer>

<!-- JS -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"
        <!--th:src="@{webjars/jquery/3.2.1/jquery.js}"></script>-->
<!--<script src="js/materialize.js"></script>-->
<script src="js/index.js"></script>
<script src="js/materialize.js"></script>

<script>

    var words = document.getElementsByClassName('word');
    var wordArray = [];
    var currentWord = 0;

    words[currentWord].style.opacity = 1;
    for (var i = 0; i < words.length; i++) {
        splitLetters(words[i]);
    }

    function changeWord() {
        var cw = wordArray[currentWord];
        var nw = currentWord == words.length-1 ? wordArray[0] : wordArray[currentWord+1];
        for (var i = 0; i < cw.length; i++) {
            animateLetterOut(cw, i);
        }

        for (var i = 0; i < nw.length; i++) {
            nw[i].className = 'letter behind';
            nw[0].parentElement.style.opacity = 1;
            animateLetterIn(nw, i);
        }

        currentWord = (currentWord == wordArray.length-1) ? 0 : currentWord+1;
    }

    function animateLetterOut(cw, i) {
        setTimeout(function() {
            cw[i].className = 'letter out';
        }, i*80);
    }

    function animateLetterIn(nw, i) {
        setTimeout(function() {
            nw[i].className = 'letter in';
        }, 340+(i*80));
    }

    function splitLetters(word) {
        var content = word.innerHTML;
        word.innerHTML = '';
        var letters = [];
        for (var i = 0; i < content.length; i++) {
            var letter = document.createElement('span');
            letter.className = 'letter';
            letter.innerHTML = content.charAt(i);
            word.appendChild(letter);
            letters.push(letter);
        }

        wordArray.push(letters);
    }

    changeWord();
    setInterval(changeWord, 4000);


</script>
<script>
    // This example adds a search box to a map, using the Google Place Autocomplete
    // feature. People can enter geographical searches. The search box will return a
    // pick list containing a mix of places and predicted search terms.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlcxyPzDn8D8lObVhl0uPd9DK0m1RoUlM&libraries=places&callback=initAutocomplete"
        async defer></script>

</body>
</html>
