<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show Recipe</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
             th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>
<body>
<!--/*@thymesVar id="house" type="com.liveasy.demo.command.HouseCommand"*/-->
<div class="container-fluid" style="margin-top: 20px">

    <input type="button" class="btn btn-info btn-block" value="Go Back to Main Page" onclick="location.href = '/';"
           style="margin: 0px 0px 40px 0px">


    <div class="row">
        <div class="col-md-6 col-md-offset-3">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class = "col-md-3">
                                <h1 class="panel-title" >House here!</h1>
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-default" href="#"
                                   th:href="@{'/user/' + ${house.getUser().getId()} + '/houses/' + ${house.getId()}
                                    + '/image' }" role="button">Change Image</a>
                            </div>

                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-3">
                                <h5>Address:</h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${house.location.streetNumber}">Somewhere Street Toronto</p>
                            </div>

                            <div class="col-md-3">
                                <p th:text="${house.location.street}">Somewhere Street Toronto</p>
                            </div>

                            <div class="col-md-3">
                                <p th:text="${house.location.city}">Somewhere Street Toronto</p>
                            </div>


                            <div class="col-md-6">
                                <img src="../../static/images/guacamole400x400WithX.jpg"
                                     th:src="@{'/user/' + ${house.getUser().getId()} + '/houses/' + ${house.getId()}
                                    + '/houseimage'}"
                                     width="200" height="200">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <h5>Bedrooms: </h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${house.layout.bedrooms}">>9001</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Washrooms: </h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${house.layout.washrooms}">-1</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h5>Area: </h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${house.layout.area} + ' Feet'">>3000 Feet</p>
                            </div>
                            <div class="col-md-3">
                                <h5>Year Built: </h5>
                            </div>
                            <div class="col-md-3">
                                <p th:text="${house.layout.yearBuilt}">>1943 AD</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
